spring:
  application:
    name: LLM_Ops

  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

server:
  port: 8080

rag:
  chunking:
    chunk-size: 500
    min-chunk-size-chars: 200
    min-chunk-length-to-embed: 80
    max-num-chunks: 10000
    keep-separator: true
